<div id="ajax-messages"></div>

<div style="margin: 20px 0">
    {{ form_open({ 'class': 'fileUpload', 'method': 'POST', 'files': 'true' }) }}
    <input type="file" name="fileToUpload">
    <br>
    <button class="btn btn-primary" type="submit">{{ 'Upload'|_ }}</button>
    {{ form_close() }}
</div>

<pre id="results"></pre>

<script>
    var i = 1;
    $('form.fileUpload').submit(function () {
        var file_data = $(this).find('input[type="file"]').prop('files')[0];
        var form_data = new FormData();
        form_data.append('file', file_data);
        $.ajax({
            url: '{{ uploadPage }}',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (data) {
                // display response
                //console.log(data);
                var result = $.trim(data);
                result = JSON.parse(result.replace(/&quot;/g, '"'));
                if (result['status']) { // No errors
                    if (result['checkImg']) { // File is image
                        // Add markup code to div#results
                        var output = '![' + result['fileName'] + '][' + i + ']' + "<br><br>" + '[' + i + ']: ' + result['filePath'] + ' "' + result['fileName'] + '"' + "<br><br>";
                        var html = $('#results').html();
                    }
                    else {
                        // Add markup code to div#results
                        var output = '[' + result['fileName'] + '][' + i + ']' + "<br><br>" + '[' + i + ']: ' + result['filePath'] + "<br><br>";
                        var html = $('#results').html();
                    }
                    $('#results').html(html + output);
                    i++;
                    $('#ajax-messages').html(result['message']);
                }
                else {
                    $('#ajax-messages').html(result['message']);
                }
            }
        });
        return false;
    });
</script>