subject = "Sent after creating a support ticket"
==

Hello,

Your ticket has been created. Use the link below to access it. You will be informed about any updates with separate e-mails.

Please its number {{ ticket_number }} when contacting support by e-mail or phone.

{{ ticket_link }}

==

<p>Hello,</p>

<p>Your ticket has been created. Use the link below to access it. You will be informed about any updates with separate e-mails.</p>

<p>Please its number {{ ticket_number }} when contacting support by e-mail or phone.</p>

<p><b><a href="{{ ticket_link }}">{{ ticket_link }}</a></b></p>