subject = "Sent after creating first support ticket"
==

Hello,

Welcome in our Support Center.

Your account code is {{ account_code }} - you may need to use it when accessing support portal without access links.

You will get confirmations about each ticket status change to this e-mail. Expect first one about your first ticket creation in a moment.

==

<p>Hello,</p>

<p>Welcome in our Support Center.</p>

<p>Your account code is {{ account_code }} - you may need to use it when accessing support portal without access links.</p>

<p>You will get confirmations about each ticket status change to this e-mail. Expect first one about your first ticket creation in a moment.</p>